.container {
    width: 390px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    padding-top: 5px;
    border-radius: 30px;
    margin-top: 100px;
    min-height: 445px;
}

body {
    background-color: rgb(129, 129, 222);

}

.fieldStyling {
    width: 300px;
    height: 30px;
}
#fieldstyle{
    width: 300px;
    height: 30px;
}
#usernamefield{
    width: 300px;
    height: 30px;
}
.headingStyling {
    font-size: 35px;
}

.buttonStyling {
    border-radius: 35px;
    background-color: rgb(129, 129, 222);
    color: white;
    width: 247px;
    height: 35px;
    font-size: 19px;
    border: none;
}